extends layout

block main
	main.mainContent
		div.container
			h2 This is an image search engine.
			br
			include includes/submitform.pug
			br 
			p Or use the API interface:
			p To search (ex: https://ISAL.herokuapp.com/api/imagesearch/lol cat?offset=1 or https://ISAL.herokuapp.com/api/imagesearch/awesome wallpapers?offset=3).
			p To view your recent searches (ex: https://ISAL.herokuapp.com/api/recentSearches)


